<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554119552618-moiqmhg3s1gf0suhkvr7143mmsm7c7e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554119552618-moiqmhg3s1gf0suhkvr7143mmsm7c7e8</string>
	<key>API_KEY</key>
	<string>AIzaSyDPnoK_7fT1QyU5ypYGAle9qqNMqD6F6Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>554119552618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.woozoobro.FirebaseAgain</string>
	<key>PROJECT_ID</key>
	<string>fir-again-c8b20</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-again-c8b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554119552618:ios:24168242cf8daffcff7413</string>
</dict>
</plist>